layout{
    focus-ring{
        active-gradient from="#efbf6dcc" to="#b4cea5cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#3e382f"
        urgent-color "#ffb4ab"
    }
}
