layout{
    focus-ring{
        active-gradient from="#f4bd6fcc" to="#b8cea1cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#3f3830"
        urgent-color "#ffb4ab"
    }
}
