output "eDP-1"{
	//off
    mode "2560x1600@240.003"
	scale 1.5
    transform "270"
	position x=0 y=0

}
output "Philips Consumer Electronics Company 27M2N5810 WDA2405004876" {
    mode "3840x2160@120.000"
    scale 1.5
    position x=0 y=0
    focus-at-startup
}
